{% extends 'base.html' %}

{% block title %}Recipe delete{% endblock %}

{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="card">
                <div class="card-body color-danger">
                    Siz rostanham <strong>{{ object.title }}</strong>ni ochirmoqchimisiz
                </div>
            </div>
            <div class="button-group mt-3">
                <a href="{% url 'recipes:tag_detail' object.id %}" class="btn btn-secondary">Yoq</a>
                <button type="submit" class="btn btn-danger">Ha</button>
            </div>
        </form>
    </div>

{#    <div>#}
{#    {% for foo in messages %}#}
{#    <h1>object.message</h1>#}
{#    {% endfor %}#}

{#    </div>#}
{% endblock %}