{% load static %}

<div>
    <table>
        <tr>
             <a class="navbar-brand">
                <img src="{% static 'image/telegram.jpg' %}" alt="">
            <h1><a href="https://t.me/Muhammad_Rauf404">Telegram</a> </h1>
    </a>
        </tr>
        <tr>
             <a class="navbar-brand">
                <img src="{% static 'image/instagram.png' %}" alt="">
                <h1><a href="https://www.instagram.com/python_beckend_dev/">Instagram</a></h1>
    </a>
        </tr>
        <tr>
                <a class="navbar-brand">
                <img src="{% static 'image/github.png' %}" alt="">
                <h1><a href="https://github.com/seferonxkiller">GitHub</a></h1>
    </a>
        </tr>
    </table>
<!--    <a class="navbar-brand">-->
<!--                <img src="{% static 'image/telegram.jpg' %}" alt="">-->
<!--            <h1><a href="https://t.me/Muhammad_Rauf404">Telegram</a> </h1>-->
<!--    </a>-->
<!--    <a class="navbar-brand">-->
<!--                <img src="{% static 'image/instagram.png' %}" alt="">-->
<!--                <h1><a href="https://www.instagram.com/python_beckend_dev/">Instagram</a></h1>-->
<!--    </a>-->
<!--    <a class="navbar-brand">-->
<!--                <img src="{% static 'image/github.png' %}" alt="">-->
<!--                <h1><a href="https://github.com/seferonxkiller">GitHub</a></h1>-->
<!--    </a>-->
</div>
